<% provide :title, t("order.your") %>
<h1><%= t "order.your"%>(<%=@orders.count %>)</h1>
<div class="row">
  <%= form_tag("/orders", method: :get) do %>
    <div class="col-lg-4">
      <%= label_tag(:status, t("status.select")) %>
      <%= select_tag :status, options_for_select(Order.statuses.map {|k, v| [k.capitalize, v]}), include_blank: t("status.all")%>
    </div>
    <div class="col-lg-3">
      <%= label_tag %>
      <%= submit_tag t("status.select") %>
    </div>
  <% end %>
</div>
<div class="container">
  <ul class="list-group">
    <%= render @orders %>
  </ul>
  <%= will_paginate @orders%>
</div>
