<% provide :title, t("cart.your") %>
<h1><%= t"cart.your"%> (<%= @products.count %>)</h1>
<p><%= link_to t("cart.clear"), clear_carts_path, method: :delete %></p>
<% if @products.any? %>
  <table width="100%" id ="cart">
    <tr>
      <td><%= t "product.image" %></td>
      <td><%= t "product.name" %></td>
      <td><%= t "product.in_stock" %></td>
      <td><%= t "product.price" %></td>
      <td><%= t "product.quantity" %></td>
      <td><%= t "product.total_price" %></td>

    </tr>
    <% @products.each do |product| %>
    <tr class="cart_item">
      <td class="image">
        <%= image_tag "https://media.gettyimages.com/photos/different-types-of-food-on-rustic-wooden-table-picture-id861188910?s=612x612", size: Settings.image.minisize %>
      </td>
      <td class="name">
        <span><%= product.name %></span>
      </td>
      <td class="name">
        <span><%= product.quantity %></span>
      </td>
      <td class="price">
        <span><%= number_to_currency(product.price, unit: t("index.currency")) %></span>
      </td>
      <td class="cart_quantity" >
        <strong data-remote="true"><%=link_to "+", increase_carts_path(product.id), method: :post %></strong>
        <span id="cart_quantity">
          <%= form_for :session, url: update_carts_path(product.id) do |f| %>
            <%= f.number_field :quantity, value: session[:cart]["#{product.id}"] %>
            <%= f.submit t("index.update"), class: "btn btn-primary" %>
          <% end %>
        </span>
        <strong data-remote="true"><%=link_to "-", descrease_carts_path(product.id), method: :post %></strong>
      </td>
      <td class="total_price">
        <%= number_to_currency((session[:cart]["#{product.id}"] * product.price), unit: t("index.currency")) %>
      </td>
      <td>
        <%= link_to t("cart.remove"), remove_item_from_carts_path(product.id), method: :post %>
      </td>
    </tr>
    <% end %>
  </table>
  <h2 align="right">
    <%= t("cart.total") %><%= number_to_currency(@totals.round(2), unit: t("index.currency")) %>
  </h2>
<% else %>
  <h1 align="center"><%= t "cart.nothing" %></h1>
  <p align="center"><%= link_to t("index.buy_now"), root_path %>
<% end %>
<%= will_paginate @products,
  params: { controller: :carts, action: :show } %>
