<div class="container">
  <%= search_form_for @q do |f| %>
    <div class="col-lg-3">
      <%= f.label :name_or_description_cont %>
      <%= f.search_field :name_or_description_cont %>
    </div>
    <div class="col-lg-3">
      <%= f.label :category%>
      <%= f.select :category_id_eq, options_from_collection_for_select(@catgories, "id", "name", @q.category_id_eq),include_blank: t("category.all") %>
    </div>
    <div class="col-lg-3">
      <%= f.label ""%>
      <%= f.submit %>
    </div>
    <div class="col-lg-2">
      <%= sort_link(@q, :price, t("index.price")) %>
    </div>
  <% end %>
</div>
<% if params[:q][:name_or_description_cont].present? %>
  <h3><%= t("filter.result", name: params[:q][:name_or_description_cont]) %></h3>
<% end %>
<% if params[:q][:s].present? %>
  <% if params[:q][:s].eql? "price asc"%>
    <h3><%= t("filter.price", direction: "↑") %></h3>
  <% else %>
    <h3><%= t("filter.price", direction: "↓") %></h3>
  <% end %>
<% end %>
